%p= @restaurant.name
%p= @restaurant.description
- if @restaurant.reviews.any?
  - @restaurant.reviews.each do |review|
    %p #{review.thoughts}
    %p #{review.rating}
    = link_to 'Delete Review', restaurant_review_path(@restaurant, review), method: :delete
- else
  %h3 No reviews yet
