%p= @restaurant.name
%p= @restaurant.description
%p Average rating: #{@restaurant.average_rating}
- if @restaurant.reviews.any?
  - @restaurant.reviews.each do |review|
    %p #{review.thoughts}
    %p #{review.rating}
    = link_to 'Delete Review', review_path(review), method: :delete
- else
  %h3 No reviews yet
